// Color scheme - base16 eighties
$dark: #2D2D2D;
$light: #D3D0C8;
$gray: #707369;
$magenta: #CD98CD;
$red: #F47678;
$yellow: #E2B552;
$green: #98CD97;
$lightblue: #61CCCD;
$blue: #6498CE;
$brown: #D47B4E;

// Variables
$total-categories: 7;
$datetime-container-width: 25%;
$datetime-container-height: 10%;
$datetime-container-top: 10px;
$datetime-container-left: 100% - $datetime-container-width - 2%;

*, html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "VT323";
  src: url('../fonts/VT323-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "KFhimaji";
  src: url('../fonts/KFhimaji.otf');
  font-weight: normal;
  font-style: normal;
}

body {
  background: $dark;
  color: $light;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  height: 100vh;
  display: flex;
}

#container {
  width: 80%;
  height: 525px;
  margin: 0px auto;
  overflow: hidden;

  #left {
    width: 80%;
    height: inherit;
    float: left;

    & > div {
      height: 0;
      position: relative;
      transition: all .1s ease-in-out;
      -moz-transition: all .1s ease-in-out;
      -webkit-transition: all .1s ease-in-out;

      a:link, a:visited {
        text-decoration: none;
        color: $light;
        margin: 30px 20px;
        padding: 15px 30px;
        transition: all .1s ease-in-out;
        -moz-transition: all .1s ease-in-out;
        -webkit-transition: all .1s ease-in-out;
      }

      a:hover {
        background: $dark;
      }
    }

    .active {
      height: inherit;
    }

    #search-content {
      background: no-repeat url('../img/city_night_dark.gif') center;
      background-size: cover;

      .datetime-container {
        position: absolute;
        width: $datetime-container-width;
        height: $datetime-container-height;
        background: rgba(0, 0, 0, 0.5);
        top: $datetime-container-top;
        left: $datetime-container-left;
        padding: 15px 20px 20px 20px;
        display: flex;
        justify-content: space-between;

        .datetime-day {
          width: 30%;
          height: 100%;
          font-family: "KFhimaji", sans-serif;
          font-size: 25px;
          font-weight: 500;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .datetime-time {
          width: 70%;
          height: 100%;
          font-family: "VT323", sans-serif;
          font-size: 25px;
          font-weight: 500;
          padding-top: 2px;
          display: flex;
          justify-content: center;
          align-items: center;
          letter-spacing: 3px;
          color: rgba(255, 255, 255, 0.5);
        }
      }

      input {
        width: 100%;
        height: 50px;
        background: rgba(0, 0, 0, 0.5);
        color: $light;
        font-size: 14px;
        border: none;
        padding: 5px 20px;
        position: absolute;
        bottom: 0;
        opacity: 0;
        transition: opacity .2s ease-in-out;
        -moz-transition: opacity .2s ease-in-out;
        -webkit-transition: opacity .2s ease-in-out;

        &:focus {
          opacity: 1;
        }
      }

      &:hover input {
        opacity: 1;
      }
    }

    #reddit-content {
      background: $red;
    }

    #anime-content {
      background: $blue;
    }

    #code-content {
      background: $magenta;
    }

    #podcast-content {
      background: $lightblue;
    }

    #social-content {
      background: $yellow;
    }

    #game-content {
      background: $green;
    }

    .content-container {
      padding: 20px;

      p {
        line-height: 50px;
      }
    }

    #reddit-content, #anime-content, #code-content, #social-content, #game-content, #podcast-content {
      a:link, a:visited {
        text-decoration: none;
        color: $dark;
        margin: 30px 20px;
        padding: 15px 30px;
        transition: all .1s ease-in-out;
        -moz-transition: all .1s ease-in-out;
        -webkit-transition: all .1s ease-in-out;
      }

      a:hover {
        background: $dark;
        color: $light;
      }
    }
  }

  #right {
    width: 20%;
    height: inherit;
    display: inline-block;
    font-family: "KFhimaji";
    text-align: center;

    & > div {
      width: 100%;
      height: 75px;
      transition: all .1s ease-in-out;
      -moz-transition: all .1s ease-in-out;
      -webkit-transition: all .1s ease-in-out;
      line-height: 75px;

      &#search:hover {
        background: $gray;
      }

      &#reddit:hover {
        background: $red;
      }

      &#anime:hover {
        background: $blue;
      }

      &#code:hover {
        background: $magenta;
        color: $dark;
      }

      &#podcast:hover {
        background: $lightblue;
        color: $dark;
      }
      
      &#social:hover {
        background: $yellow;
        color: $dark;
      }

      &#game:hover {
        background: $green;
        color: $dark;
      }

      .selection-container {
        background: none;
        height: 80%;
        cursor: pointer;
      }
    }

    #search.active {
      background: $gray;
    }

    #reddit.active {
      background: $red;
    }

    #anime.active {
      background: $blue;
    }

    #code.active {
      background: $magenta;
      color: $dark;
    }

    #social.active {
      background: $yellow;
      color: $dark;
    }

    #game.active {
      background: $green;
      color: $dark;
    }
  }
}

#credits {
  font-size: 12px;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 10px;
  position: absolute;
  right: 5px;
  bottom: 5px;

  a:link, a:visited, a:hover, a:active, a:focus {
    color: $light;
    margin: 0;
    padding: 0;
    background: none;
    -webkit-transition: .2s all ease-in-out;
    -moz-transition: .2s all ease-in-out;
    transition: .2s all ease-in-out;
  }
  
  a:hover, a:active, a:focus {
    border-bottom: 2px solid $light;
  }
}

@media screen and (max-width: 767px) {
  body {
    display: inline;
    overflow: visible;
  }

  #container {
    margin: 45px auto;
    height: auto;
    overflow: visible;

    #left {
      width: 100%;
      float: none;
      height: auto;

      & > div {
        height: 0;

        & > .content-container {
          display: none;
        }
      }

      .active {
        height: auto;

        & > .content-container {
          display: block;
        }
      }

      #search-content {
        height: 200px;
        input {
          margin: 50px auto;
          position: relative;
        }

        .datetime-container {
          width: 80%;
          top: 70%;
          left: 10%;

          .datetime-day {
            &, span {
              font-size: 24px;
            }
          }

          .datetime-time {
            &, span {
              font-size: 18px;
            }
          }
        }
      }
    }

    #right {
      position: absolute;
      top: 15px;
      height: 30px;
      left: 10%;
      width: 80%;
      display: inline;
      overflow-x: scroll;

      & > div {
        width: 16.6667%;
        height: 30px;
        line-height: 30px;
        float: left;
      }
    }
  }

  #credits { display: none; }
}

@media(min-height: 450px) {
  body {
    align-items: center;
  }
}
